{% extends "phonebook_app/base.html" %}

{% block head_block %}
<form action="search" method="GET">
    <input type="text" name="q" placeholder="Szukaj" value="{{ request.GET.q }}">
    <button type="submit">Szukaj</button>
</form>
    <div>
    <a href="/create">Dodaj osobę</a>
    </div>
{% endblock %}

{% block body_block %}
    {% if people_list %}
        <ul>
        {% for person in people_list %}
            <li><a href="{%  url 'phonebook_app:detail' person.id %}">{{ person.imie }} {{ person.nazwisko }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Brak osob w bazie.</p>
    {% endif %}
{% endblock %}